.top-container {
  background-color: white;
  height: 80rem;
}

.bg-img {
  background-image: url("https://i.imgur.com/Qow7bWL.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;
}

.cat-top-button {
  // width:300px;
  // position:relative;
  // top:200px;
  // left: 50px;
  background-color: rgb(250, 187, 50) !important;
  border: none;
  color: white;
  font-size: 20pt;
}
.cat-top-button:hover {
  background-color: black !important;
  color: white !important;
}
.cat-lower-title {
  // position:relative;
  // top:40rem;
  text-align: center;
}

.cat-img {
  height: 30rem !important;
  width: auto !important;
}
.lower-img {
  margin: auto !important;
}
.house-img {
  height: 10rem;
}
.badge-img {
  height: 10rem;
}
.girl-img {
  height: 10rem;
}

.bottom-container {
  background-color: #fae4bb;
}
.card {
  margin-right: 20px;
  margin-bottom: 20px;
}
.card-body {
  text-align: center;
  background-color: white;
  width: 36rem;
  height: 30rem;
}
.cat-favorite-btn {
  padding: 1rem;
}
.cat-favorite-btn:hover {
  color: black;
}
.title {
  font-size: 4rem;
  // position:relative;
  // top:100px;
  // left: 50px;
}
.btn-view-cat {
  background-color: none;
  border: 0.1rem solid #fead12;
  font-weight: 600;
  text-decoration: none;
  color: #fead12;
  width: 18rem;
}
.btn-view-cat:hover {
  transition: 0.3s ease-in-out;
  background-color: black;
  font-weight: 600;
  text-decoration: none;
  color: #fead12;
}
