.favorites {
  background-color: #FBE4BC;
  padding: 3rem;
}

.favorite-card {
  height: 30rem !important;
  width: auto !important;
  border: none !important;
  background: white !important;
}

.underline-title {
  text-decoration: underline;
  text-decoration-color: #fead12;
  text-underline-offset: 0.2rem;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
