.sidebar {
    height: 80px;
    width: 80px;
    padding: 10px;
    padding-top: 22px;
    position: absolute;
    left: 1;
    top: 106px;
}

.menu-paw {
    margin: 12px;
    font-size: 2rem;
    background: none;
}

.menu {
    background-color: black;
    height: 615px;
    width: 250px;
    position: absolute;
    top: 106px;
    left: -100%;
    transition: 850ms;
}

.menu.active {
    top: 106px;
    left: 0;
    transition: 350ms;
}

.menu-items {
    height: 100%;
    width: 100%;
}

.menu-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.menu-bars {
    color: rgb(254, 173, 18);
    height: 20px;
    width: 20px;
    border: double;
}

.sidebar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.sidebar-text a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.sidebar-text a:hover {
    background-color: #fead12;
}

.text {
    margin-left: 16px;
    margin-bottom: 20px;
}

svg {
    margin-right: 5px;
}

.text-span {
    width: 160px;
}
